.build/
*.hex
*.elf
*.o
*.obj
*.exe
*.bin
*.pyc
inc/romfiles.h
*.swp
.sconf_temp/
.sconsign.dblite
config.log
mux*
rfs_server*
doc/dist
doc/cache
inc/git_version.h
*~
*.*~
luac.cross*
sdcard.img
core

