/*******************************************************************************
 * Generic styling
 ******************************************************************************/

body {
	font-family: tahoma,verdana,arial,helvetica,geneva,sans-serif;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

div.sectionbody pre {
	border: 1px dashed #fb2;
	background-color: #fda;
	font-family: Monotype.com,"Courier New",Courier,monospace;
	font-size: 90%;
	line-height: 125%;
	margin-left: 1em;
	overflow: auto;
	padding: 4px;
}

/*******************************************************************************
 * Main layout
 ******************************************************************************/

/* Assume a logo size of 80x80 pixels! */

#logo {
	background-image: url(images/title_background.png);
	background-repeat: no-repeat;
	background-position: right;
	color: #000;
	font: bold 150%/100% tahoma, Arial, sans-serif;
	height: 90px;
	width: 100%;
	border-bottom: 0 solid #E7F1FA;
	margin: 0;
	padding: 0;
}


.logo_elua {
	margin-top: 10px;
	margin-left: 10px;
}

#nav,#menu {
	float: left;
	width: 170px;
	margin-left: 8px;
	padding-top: 5px;
}

#content {
	padding-top: 10px;
	margin: 0 8px 8px 181px;
}

/*******************************************************************************
 * Logo styling
 ******************************************************************************/

#logo h6 {
	color: #137096;
	margin: 2px 4px;
	padding: 2px;
}

.header_title {
	font-size: 36px;
	color: #0b0c79;
	font-weight: 700;
	padding-left: 20px;
}

h6 {
	font-size: 10px;
}

#logo a {
	text-decoration: none;
	padding: 2px 4px;
}

#logo a.lang img {
	border: 0;
}

/*******************************************************************************
 * Content styling
 ******************************************************************************/

/*div.paragraph p {
	line-height: 120%;
	padding-left: 1em;
}*/

/*#content p {*/
.sectionbody p {
	line-height: 120%;
	padding-left: 1em;
}

#content h2 {
	border: 1px solid gray;
	background-color: #a0ffa0;
	font-size: 99%;
	margin-left: 1em;
	padding: 4px;
}

#content h3 {
	border: 1px solid gray;
	background-color: #cee7ff;
	color: #5c5c5c;
	margin: 0;
	padding: 5px;
}

table.table_center {
	margin-left: 1em;
	border-collapse: collapse;
}

#content p.info {
	margin-left: 3em;
}

#content ul {
	padding-left: 1em;
	margin-left: 40px;
}

.table_center td {
	border: 1px solid gray;
	padding: 5px;
}

.table_center th {
	border: 2px solid gray;
	background-color: silver;
	padding: 5px;
}

/*******************************************************************************
 * Table types
 ******************************************************************************/

table.invisible {
	border: 0 solid #000;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
}

table.invisible td {
	text-align: center;
	border: 0 solid #000;
}

/*******************************************************************************
 * Other styles
 ******************************************************************************/

.docdiv {
	padding-left: 1em;
}

.docdiv pre {
	margin-left: 0;
}

div.sectionbody pre.code {
	border: 0;
	background-color: #FFFFFF;
	font-family: "Courier New",Courier,monospace;
	font-size: 90%;
	overflow: auto;
	padding: 4px 4px 4px 1em;
}

.warning {
	color: red;
	font-weight: 700;
}

#content p.doc,#content ol,#content h4 {
	*margin-left: 2em;
}


/*****************************************************************************
 AsciiDoc stylesheet
 BogdanM: all the modifications to the standard AsciiDoc CSS are marked with
          CSS comments starting with "BogdanM:"
*****************************************************************************/

/* BogdanM: kept the body definition from the original CSS"
/*body {
  margin: 1em 5% 1em 5%;
}*/

/* BogdanM: removed the styling for <a> */
/*
a {
  color: blue;
  text-decoration: underline;
}
a:visited {
  color: fuchsia;
}*/

em {
  font-style: italic;
  color: navy;
}

strong {
  font-weight: bold;
  /* BogdanM: don't make the bold text a different color */
  /*color: #083194;*/
}

/* BogdanM: commented out the color inside <tt> blocks */
/*tt {
  color: navy;
}*/

/* BogdanM: commented out the next 5 rules */
/*h1, h2, h3, h4, h5, h6 {
  color: #527bbd;
  font-family: sans-serif;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  line-height: 1.3;
}*/

/*h1, h2, h3 {
  border-bottom: 2px solid silver;
}*/
/*h2 {
  padding-top: 0.5em;
}*/
/*h3 {
  float: left;
}*/
/*h3 + * {
  clear: left;
}*/

/* BogdanM: we don't need a new font in the section body */
/* div.sectionbody {
  font-family: serif;
  margin-left: 0;
} */

hr {
  border: 1px solid silver;
}

/* BogdanM: removed the stiling for <p>*/
/*
p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}*/

ul, ol, li > p {
  margin-top: 0;
}

/* BogdanM: paragraph inside list item has margin 0, otherwise
it takes way too much space */
li > p {
  margin: 0;
}

/* BogdanM: removed the stiling for <pre>*/
/*
pre {
  padding: 0;
  margin: 0;
}*/

span#author {
  color: #527bbd;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.1em;
}
span#email {
}
span#revnumber, span#revdate, span#revremark {
  font-family: sans-serif;
}

div#footer {
  font-family: sans-serif;
  font-size: small;
  border-top: 2px solid silver;
  padding-top: 0.5em;
  margin-top: 4.0em;
}
div#footer-text {
  float: left;
  padding-bottom: 0.5em;
}
div#footer-badges {
  float: right;
  padding-bottom: 0.5em;
}

div#preamble {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
div.tableblock, div.imageblock, div.exampleblock, div.verseblock,
div.quoteblock, div.literalblock, div.listingblock, div.sidebarblock,
div.admonitionblock {
  margin-top: 1.0em;
  margin-bottom: 1.0em;
}
div.admonitionblock {
  margin-top: 2.0em;
  margin-bottom: 2.0em;
  margin-right: 10%;
  color: #606060;
}

div.content { /* Block element content. */
  padding: 0;
}

/* Block element titles. */
div.title, caption.title {
  color: #527bbd;
  font-family: sans-serif;
  font-weight: bold;
  text-align: left;
  margin-top: 1.0em;
  margin-bottom: 0.5em;
  /* BogdanM: Added next padding */
  padding-left: 1em;
}
div.title + * {
  margin-top: 0;
}

td div.title:first-child {
  margin-top: 0.0em;
}
div.content div.title:first-child {
  margin-top: 0.0em;
}
div.content + div.title {
  margin-top: 0.0em;
}

div.sidebarblock > div.content {
  background: #ffffee;
  border: 1px solid silver;
  padding: 0.5em;
}

/* BogdanM: commented out the next defition */
/*div.content div.listingblock {
  border: 1px solid silver;
  background: #f4f4f4;
  padding: 0.5em;
}*/

div.quoteblock, div.verseblock {
  padding-left: 1.0em;
  margin-left: 1.0em;
  margin-right: 10%;
  border-left: 5px solid #dddddd;
  color: #777777;
}

div.quoteblock > div.attribution {
  padding-top: 0.5em;
  text-align: right;
}

div.verseblock > pre.content {
  font-family: inherit;
}
div.verseblock > div.attribution {
  padding-top: 0.75em;
  text-align: left;
}
/* DEPRECATED: Pre version 8.2.7 verse style literal block. */
div.verseblock + div.attribution {
  text-align: left;
}

div.admonitionblock .icon {
  vertical-align: top;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: underline;
  color: #527bbd;
  padding-right: 0.5em;
}

div.admonitionblock td.content {
  padding-left: 0.5em;
  border-left: 3px solid #aaaaaa;
}

div.tableblock {
  margin-right: 1em;
}

div.exampleblock > div.content {
  border-left: 3px solid #aaaaaa;
  padding-left: 0.5em;
}

div.imageblock div.content { padding-left: 0; }
span.image img { border-style: none; }
a.image:visited { color: white; }

dl {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
dt {
  margin-top: 0.5em;
  margin-bottom: 0;
  font-style: normal;
  color: navy;
}
dd > *:first-child {
  margin-top: 0.1em;
}

ul, ol {
    list-style-position: outside;
}
ol.arabic {
  list-style-type: decimal;
}
ol.loweralpha {
  list-style-type: lower-alpha;
}
ol.upperalpha {
  list-style-type: upper-alpha;
}
ol.lowerroman {
  list-style-type: lower-roman;
}
ol.upperroman {
  list-style-type: upper-roman;
}

div.compact ul, div.compact ol,
div.compact p, div.compact p,
div.compact div, div.compact div {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

/*BogdanM: replaced the previous "table" declaration*/
/*div.tableblock > table {
  border: 3px solid #527bbd;
}*/
div.tableblock > table {
	margin-left: 1em;
	border-collapse: collapse;
}
/*BogdanM: commented next rule, added the next two for td and th*/
/*thead, p.table.header {
  font-family: sans-serif;
  font-weight: bold;
  color: #527bbd;
}*/
.tableblock td {
	border: 1px solid gray;
	padding: 5px;
}

.tableblock th {
	border: 2px solid gray;
	background-color: silver;
	padding: 5px;
}

tfoot {
  font-weight: bold;
}
td > div.verse {
  white-space: pre;
}
/* BogdanM: added next rule to reduce table line height */
div.tableblock p.table {
  margin: 0;
  padding: 0;
}
/* Because the table frame attribute is overriden by CSS in most browsers. */
div.tableblock > table[frame="void"] {
  border-style: none;
}
div.tableblock > table[frame="hsides"] {
  border-left-style: none;
  border-right-style: none;
}
div.tableblock > table[frame="vsides"] {
  border-top-style: none;
  border-bottom-style: none;
}


div.hdlist {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
div.hdlist tr {
  padding-bottom: 15px;
}
dt.hdlist1.strong, td.hdlist1.strong {
  font-weight: bold;
}
td.hdlist1 {
  vertical-align: top;
  font-style: normal;
  padding-right: 0.8em;
  margin-left: 1em;
  color: navy;
}
td.hdlist2 {
  vertical-align: top;
}
div.hdlist.compact tr {
  margin: 0;
  padding-bottom: 0;
}

.comment {
  background: yellow;
}

.footnote, .footnoteref {
  font-size: 0.8em;
}

span.footnote, span.footnoteref {
  vertical-align: super;
}

#footnotes {
  margin: 20px 0 20px 0;
  padding: 7px 0 0 0;
}

#footnotes div.footnote {
  margin: 0 0 5px 0;
}

#footnotes hr {
  border: none;
  border-top: 1px solid silver;
  height: 1px;
  text-align: left;
  margin-left: 0;
  width: 20%;
  min-width: 100px;
}

div.colist td {
  padding-right: 0.5em;
  padding-bottom: 0.3em;
  vertical-align: top;
}
div.colist td img {
  margin-top: 0.3em;
}

@media print {
  div#footer-badges { display: none; }
}

div#toc {
  margin-bottom: 2.5em;
}

div#toctitle {
  color: #527bbd;
  font-family: sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 1.0em;
  margin-bottom: 0.1em;
}

div.toclevel1, div.toclevel2, div.toclevel3, div.toclevel4 {
  margin-top: 0;
  margin-bottom: 0;
}
div.toclevel2 {
  margin-left: 2em;
  font-size: 0.9em;
}
div.toclevel3 {
  margin-left: 4em;
  font-size: 0.9em;
}
div.toclevel4 {
  margin-left: 6em;
  font-size: 0.9em;
}

/******************************************************************************/
/* BogdanM: new rules for eLua docs */

span.orange {
  color: rgb(255, 102, 0);
}

span.red {
  color: rgb(255, 0, 0);
}

pre.mono, pre.func {
	border: 1px dashed #fb2;
	background-color: #fda;
	font-family: Monotype.com,"Courier New",Courier,monospace;
	font-size: 90%;
	line-height: 125%;
	margin-left: 1em;
	overflow: auto;
	padding: 4px;
}

pre.mono p, pre.func p {
  margin: 0;
  padding: 0;
}

div.openblock.right {
  margin-left: 2em;
}

div.openblock.right p {
  margin: 0;
  padding: 0;
}

div.listingblock div.content pre {
	/*border: 0;*/
	/*background-color: #FFFFFF;*/
  border: 1px solid silver;
  background: #f4f4f4;
	font-family: "Courier New",Courier,monospace;
	font-size: 90%;
	overflow: auto;
	padding: 4px 4px 4px 1em;
/*  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
	font-family: Monotype.com,"Courier New",Courier,monospace;
	font-size: 100%;
	overflow: auto;*/
}

div.listingblock div.content tt {
  color: black;
  font-size: 110%;  
}

span.bblue {
  color: rgb(0, 0, 255);
  font-weight: bold;
}

.dlist dl {
  margin-left: 2em;
}

dd {
  display: block;
  margin-left: 20px;
}

div.tableblock div.paragraph p {
	padding: 0;
	margin: 0;
}

div.literalblock div.content pre {
  border: 0px;
  background: #ffffff;
	font-family: "Courier New",Courier,monospace;
	font-size: 110%;
	overflow: auto;
	padding: 0;
  margin-left: 1em;
}
