/*******************************************************************************
 * Generic styling
 ******************************************************************************/

body {  
  padding: 0;
  margin: 0;
  font-family: tahoma,verdana,arial,helvetica,geneva,sans-serif;
  background-color: #ffffff;  
}

pre {
  border: 1px dashed #ffbb22;
  padding: 4px;
  background-color: #ffddaa;
  font-family: 'Monotype.com',"Courier New",Courier,monospace;
  font-size: 90%;
  line-height: 125%;
  margin-left: 1em;
  overflow: auto;
}

/*******************************************************************************
 * Main layout
 ******************************************************************************/

/* Assume a logo size of 80x80 pixels! */
#logo {
  background-image: url(images/title_background.png);
  background-repeat: no-repeat;
  background-position:right;
  color:#000;
font: bold 150%/100% tahoma, Arial, sans-serif;
  height: 90px;
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 0px solid #E7F1FA;
}

.logo_elua{
margin-top:10px;
margin-left:10px;
}

#nav {
 float: left;
 width: 170px;
 margin-left: 8px;
 padding-top: 5px;
}

#content {
 padding-top: 10px;
 margin: 0 8px 8px 181px;
}

/*******************************************************************************
 * Logo styling
 ******************************************************************************/
 
#logo h6.selected {
  margin: 2px 4px 2px 4px;
  padding: 2px;
  background-color: #137096;
  color: white;
}

#logo h6 {
  margin: 2px 4px 2px 4px;
  padding: 2px;
  #background-color: white;
  color: #137096;
}

.header_title{
  font-size:36px;
  color:#0b0c79;
  font-weight:bold;
  padding-left:20px;
}

h6{
  font-size:10px;
}

#logo a {
  text-decoration: none;
  padding: 2px 4px 2px 4px;
}

#logo a.lang:hover {
  text-decoration: none;
#  background-color: blue;
#  color: white;
}

/*******************************************************************************
 * Content styling
 ******************************************************************************/

#content p {
  line-height: 120%;
  padding-left: 1em;
}

#content h2 {
  border: 1px solid #808080;
  padding: 4px;
  background-color: #a0ffa0;
  font-size: 99%;
  margin-left: 1em;
}

#content h3 {
  border: 1px solid #808080;
  padding: 5px;
  background-color: #cee7ff;
  color: #5c5c5c;
  margin: 0;
}

#content table {
  margin-left: 1em;
}

#content p.info {
  margin-left: 3em;
}

#content p.doc {
  margin-left: 2em;
}

#content ul {
  padding-left: 1em;
  margin-left: 40px;
}

#content ol {
  margin-left: 2em;
}

#content h4 {
  margin-left: 2em;
}

#content table {
  border-collapse: collapse;
}
#content td {
  border: 1px solid #808080;
  padding: 5px;
}
#content th {
  border: 2px solid #808080;
  padding: 5px;
  background-color: #c0c0c0;
}

/*******************************************************************************
 * Table types
 ******************************************************************************/
 
table.invisible {
  border: 0px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
}

table.invisible td {
  text-align: center;
  border: 0px solid black;
}

/*******************************************************************************
 * Other styles
 ******************************************************************************/

.docdiv {
  padding-left: 1em;
}

.docdiv pre {
  margin-left: 0;
}

.code {
  border: 0;
  padding: 4px;
  background-color: white;
  font-family: "Courier New",Courier,monospace;
  font-size: 90%;
  padding-left: 1em;
  overflow: auto;
}

.warning {
  color: red;
  font-weight: bold;
}

